variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'
- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: true
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'Testazure-devops'
    appType: 'webAppLinux'
    appName: 'empfrontend'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'
- task: AzureAppServiceSettings@1
  inputs:
    azureSubscription: 'TestAzure-devops'
    appName: 'empfrontend'
    resourceGroupName: 'test'