variables:
  buildConfiguration: 'Release'

steps:
# - script: dotnet build --configuration $(buildConfiguration)
#   displayName: 'dotnet build $(buildConfiguration)'
# - task: DotNetCoreCLI@2
#   inputs:
#     command: 'publish'
#     publishWebProjects: true
# - task: AzureWebApp@1
#   inputs:
#     azureSubscription: '<Azure service connection>'
#     appType: 'webAppLinux'
#     appName: '<Name of web app>'
#     package: '$(System.DefaultWorkingDirectory)/**/*.zip'
- task: AzureRmWebAppDeployment@4
  inputs:

    azureSubscription: 'TestAzure-devops'
    appType: 'webApp'
    WebAppName: 'empfrontend'
    packageForLinux: '$(System.DefaultWorkingDirectory)/**/*.zip'
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '18.x'
- task: Npm@1
  inputs:
    command: 'custom'
    customCommand: 'run build'